<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mb-4">Revistas {{entity.title}}</h2>
      <ul>
      {{#each magazines}}
        <li><a href="/{{../entity.id}}/{{id}}">{{title}}</a></li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
